/* fonts */
@font-face
{
    font-family: "uni";
    font-weight: 200;
    src: url("monooki/fnts/unifont_jp.woff2");
}

html
{
    background-color: rgb(12, 12, 12);
    user-select: none;
}

#welcome
{
    position: absolute;
    right: 0;
    margin-right: 8px;
    writing-mode: vertical-lr;
    font-family: "uni";
    font-size: 14px;
    color: rgb(243, 243, 243);
}

#tree
{
    position: absolute;
    padding-left: 0;
    bottom: 0;
}

.seed
{
    font-family: "uni";
    font-size: 14px;
    color: rgb(243, 243, 243);
}
.seed:visited { color: rgb(243, 243, 243); }
.seed:hover { color: rgb(243, 243, 243); text-decoration: none;}