/* hakos 4/4 = 70vw, 2/4 = 35vw, 1/4 = 17.5vw */
.hako_bs
{
    background-color: var(--bgcolor_hako);
    
    position: absolute;
    top: 0; left: 30vw; bottom: 100px;
    width: 70vw;
    overflow: scroll;
    user-select: none;
    scale: 100%;
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2px;
    z-index: -1;
}
    #A_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #A_bs:hover
    {
        opacity: 0.9;
    }
    #B_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #B_bs:hover
    {
        opacity: 0.9;
    }
    #C_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #C_bs:hover
    {
        opacity: 0.9;
    }
    #D_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #D_bs:hover
    {
        opacity: 0.9;
    }
    #E_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #E_bs:hover
    {
        opacity: 0.9;
    }
    #F_bs
    {
        width: calc(35vw - 2px);
        height: calc(35vw - 2px);
    }
    #F_bs:hover
    {
        opacity: 0.9;
    }
    #G_bs
    {
        width: calc(17.5vw - 2px);
        height: calc(17.5vw - 2px);
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #G_bs:hover
    {
        opacity: 0.9;
    }
    #H_bs
    {
        width: calc(17.5vw - 2px);
        height: calc(17.5vw - 2px);
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #H_bs:hover
    {
        opacity: 0.9;
    }
    #I_bs
    {
        width: calc(17.5vw - 2px);
        height: calc(17.5vw - 2px);
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #I_bs:hover
    {
        opacity: 0.9;
    }
    #J_bs
    {
        width: calc(17.5vw - 2px);
        height: calc(17.5vw - 2px);
        margin-top: 24px;
        margin-bottom: 24px;
    }
    #J_bs:hover
    {
        opacity: 0.9;
    }

    #Z_bs
    {
        width: calc(70vw - 2px);
        height: 40vh
    }
    #Z_bs:hover
    {
        opacity: 0.9;
    }

:root
{
    --bgcolor_hako: rgb(12, 12, 12);
}
:root[theme="swap"]
{
    --bgcolor_hako: rgb(243, 243, 243);
}